{% extends 'store/base.html' %}
{% load static %}

{% block body %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Page introuvable</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <h2 class="text-faded mb-5">
                    Remy et Colette n'ont pas prévu de contenu ici ! <br>
                <small>A moins qu'il ne fut grignotté...</small></h2>
            </div>
        </div>
    </div>
</header>
<section class="bg-primary">
    <div class="container text-faded">
        <p class="text-center">
            <small>
            Cette page s'affiche car la page recherchée n'existe pas...
            <br>
            ( https://openfoodfacts.org )
            </small>
        </p>
    </div>
</section>
{% endblock %}

