{% extends 'store/base.html' %}
{% load static %}

{% block body %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Erreur</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <h2 class="text-faded mb-5">
                   Le serveur a rencontré un problème...</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}

