{% extends 'store/base.html' %}

{% load static %}

{% block body %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Vos produits</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <h2 class="text-faded mb-5">Vos produits enregistrés sont conservés ici.</h2>
                <a class='btn btn-warning js-scroll-trigger' href="#pairs">▼</a>
            </div>
        </div>
    </div>
</header>
<section class="bg-primary" id="pairs">
    <div class="container">
        <div class="mx-auto text-center text-faded ">
            <h2 class="section-heading text-white">Vos produits</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4"></p>
            {% if pairs|length_is:"0" %}
            <div class="text-center">
                ...Il n'y a plus de résultats ! Remy les a peut être mangés ??! A moins que ce ne soit Colette ...
            </div>
            {% else %}
            {% for pair in pairs %}
            {% with substitute=pair.1 product=pair.0 %}
            {% if forloop.first %}
            <div class="row">{% endif %}
                <div title="{{substitute.name}} substitue ici {{product.name}} ( Grade : {{ product.grade|upper}})"
                     class="col-xs-4 col-lg-4">
                    <ol>
                        <li style="list-style:none;">
                            <p class="text-faded">{{substitute.name|title|truncatewords:3}}</p>
                            {% if substitute.grade == "a" %}
                            <p class="text-faded pair_grade score_a">{{product.grade|upper}}→{{substitute.grade|upper}}</p>
                            {% elif substitute.grade == "b" %}
                            <p class="text-faded pair_grade score_b">{{product.grade|upper}}→{{substitute.grade|upper}}</p>
                            {% elif substitute.grade == "c" %}
                            <p class="text-faded pair_grade score_c">{{product.grade|upper}}→{{substitute.grade|upper}}</p>
                            {% elif substitute.grade == "d" %}
                            <p class="text-faded pair_grade score_d">{{product.grade|upper}}→{{substitute.grade|upper}}</p>
                            {% else %}
                            <p class="text-faded pair_grade score_e">{{product.grade|upper}}→{{substitute.grade|upper}}</p>
                            {% endif %}
                            <a href="{% url 'store:search' product_code=product.code %}">
                                <img style="max-width:100px;max-height:80px;"
                                     class='tooltip_{{product.grade}} substituted_result img-responsive img-rounded'
                                     title="{{product.name}}"
                                     src={{product.image}} alt='{{product.name}}'></a>
                            <a href="{% url 'store:search' product_code=substitute.code %}">
                                <img style="max-width:200px;max-height:120px;"
                                     class='tooltip_{{substitute.grade}} substitute_result img-responsive img-rounded'
                                     title="{{substitute.name}}"
                                     src={{substitute.image}} alt='{{substitute.name}}'></a>
                            <br><br>
                            <button data-toggle="modal"  data-target=".delete{{forloop.counter}}">Supprimer</button>

                            <!-- Modal -->
                            <div style='color:black;' class="modal fade delete{{forloop.counter}}" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Suppression</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Valider la suppression du produit {{ substitute.name }} en cliquant sur
                                                supprimer ou fermer cette fenêtre.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'store:delete' product_id=product.id substitute_id=substitute.id %}">
                                                <button type="button" class="btn btn-default">Supprimer</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </li>
                    </ol>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">{% endif %}
                {% if forloop.last %}
            </div>
            {% endif %}

            {% endwith %}
            {% endfor %}
            {% endif %}
            {% if paginate %}
            <div class="clearfix"></div>
            <nav aria-label="">
                {% if pairs.has_previous %}
                <a style="float:left;" class='btn btn-warning'
                   href="?page={{ pairs.previous_page_number }}#pairs">Précédent</a>
                {% endif %}
                {% if pairs.has_next %}
                <a style="float:right;" class='btn btn-warning'
                   href="?page={{ pairs.next_page_number }}#pairs">Suivant</a>
                {% endif %}
            </nav>
            {% endif %}
            <div class="col-md-6">
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}